  }
        },

        clearForm : function(){
          title = ''
          description = ''
        },

        submitForm : function(){
          
        },

        clearForm : function(){
          this.title = ''
          this.description = ''
          this.buttonStatus = 'submit'
          this.idEditBlog = null
          this.idUploadBlog = null
          title = ''
          description = ''
          buttonStatus = 'submit'
          idEditBlog = null
          idUploadBlog = null
        },

        updateBlog : function(id){
  </script>

</body>
</html>
</html>
